* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousal-container {
  position: relative;
  max-width: 800px;
  height: 400px;
  margin: 100px auto;
  overflow: hidden;
}
.carousal-items {
  width: 100%;
  height: 100%;
  display: flex;
  transition: 0.5s ease;
}
.carousal-item {
  min-width: 100%;
}
.carousal-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousal-btn {
  position: absolute;
  width: 50px;
  height: 50px;
color: rgb(255, 0, 89);
  font-size: 30px;

  border: none;
  outline: none;
  border-radius: 50%;
  cursor: pointer;

}


#previous-btn {
  top: 50%;
  left: 2%;
}
#next-btn {
  top: 50%;
  right: 2%;
}
